*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body{
    padding-top: 150px;
     transition: background-color 0.3s ease, color 0.3s ease;
}

/* navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 20px 0;
    position:fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(135deg, #ff6600, #ff4800);;
    z-index: 1000;
}nav .container{
    padding: 15px 0;
}
nav .logo{
    color: white;
    text-decoration: none;
    font-size: 30px;
}
nav .container ul li a{
   text-decoration: none;
    margin-right:60px;
    color:white;
    font-weight: 400;
    font-size: 22px;
    position: relative;
    font-weight: 500;
    display: inline-block;
}
nav .container ul li a::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    left: 0;
    bottom: -5px;
    background-color: #ffffff;
    transition: 0.3s ease;
    color: white;
}
nav .container ul li a:hover{
    color: white !important;
}
nav .container ul li a:hover::after{
    width: 100%;
    color:white !important;
}
nav .container ul li a.active {
    color:white !important;
}

nav .container ul li a.active::after{
    width:100%;
    color: white !important;
}
/* home */
section .container h1{
    font-size: 60px;
    position: relative;
}
section .container h1 span{
    margin-left: 15px;
    color: #ff4800;
    font-family: mv boli;
    line-height: 22px;
    font-size: 70px;
}
section .container p{
    font-size: 15px;
}
section .container a{
    background-color: #ff4800;
    position: relative;
    margin-top:20px;
    bottom: 15px;
    cursor: pointer;
    padding: 12px 30px;
    color: #fff;
    margin-right: 5px;
    text-decoration: none;
    font-size: 20px;
}
section .container a:hover{
    border: 2px solid #ff4800;
    background-color: transparent;
    padding: 12px 30px;
}
section .about{
    margin-left:-70px;
}
/* menu */
.menu .menu_box{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:15px;
}
.menu .menu_box .menu_card{
    width: 325px;
    height: 550px;
    padding-top:10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.menu .menu_box .menu_card .menu_image {
      width: 300px;
      height: 245px;
      margin: 0 auto;
      overflow: hidden;
}
.menu .menu_box .menu_card .menu_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}
.menu .menu_box .menu_card .menu_image:hover img{
    transform: scale(1.1);
}
.menu .menu_box .menu_card .small_card{
    width: 45px;
    height: 45px;
    float: right;
    position: relative;
    top: -240px;
    right: -8px;
    opacity: 0;
    border-radius: 7px;
    transition: 0.3s;
}
.menu .menu_box .menu_card:hover .small_card{
    top: -240px;
    opacity: 1;
}
.menu .menu_box .menu_card .card_info h2{
    width: 60%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 25px;
    color: #ff4800;
}
.menu .menu_box .menu_card .card_info p{
    text-align: center;
    margin-top: 8px;
    line-height: 21px;
}
.menu .menu_box .menu_card h3{
    text-align: center;
    margin-top: 10px;
}
.menu .menu_box .menu_card .menu_icon{
    color: #ff4800;
    text-align: center;
    margin: 10px 0 10px 0;
}
.menu .menu_box .menu_card .menu_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    background-color:black;
    padding: 8px 10px;
    margin: 0 80px;
    transition: 0.3s;
    margin-top: 30px;
}
/* speciallity */
 .speciality .image_box .image_gallery{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
 }

.speciality .pizza2{
    height: 411px;
}
.speciality .image_box .image_gallery img{
    width: 100%;
    transition: 0.3s;
}
.speciality .image_box .image_gallery:hover img{
    opacity: 0.4;
}
.speciality .image_box .image_gallery h3{
    position: absolute;
    font-size: 35px;
    margin-bottom: 130px;
    color: #fac031;
    font-family: polo;
    z-index: 5;
    opacity: 0;
    transition: 0.3s;
}
.speciality .image_box .image_gallery:hover h3{
    opacity: 1;
}
.speciality .image_box .image_gallery p{
    position: absolute;
    width: 400px;
    margin-top: 30px;
    text-align: center;
    color: #fff;
    line-height: 22px;
    opacity: 0;
    z-index: 5;
    transition: 0.3s;
}
.speciality .image_box .image_gallery:hover p{
    opacity: 1;
}
.speciality .image_box .image_gallery .gallery_btn{
    position: absolute;
    margin-top: 180px;
    color: black;
    background-color: #fac031;
    padding: 7px 25px;
    text-decoration: none;
    opacity: 0;
    transform: translateY(45px);
    z-index: 5;
    transition: 0.3s;
}
.speciality .image_box .image_gallery:hover .gallery_btn{
    opacity: 1;
    transform: translateY(0);
}
/*Team*/
.team .team_box{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top:13%
}
.team .team_box .profile{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    transition: 0.4s;
}
.team .team_box .profile:hover{
    border-radius: 20px;
    height: 320px;
}

.team .team_box .profile img{
  width:250px;
  height: 250px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
  z-index: 2;
  transition: 0.4s;

}
.team .team_box .profile:hover img{
    border-radius: 20px;
    margin-top: -230px;
}
.team .team_box .profile .info{
    position: absolute;
    text-align: center;
    top: 25%;
    transition: 0.4s;
}
.team .team_box .profile:hover .info{
    top:60%;
}
.team .team_box .profile .info .name{
    color:#ff4800;
    margin-bottom: 15px;
}
.team .team_box .profile .info .bio{
    width: 70%;
    text-align: center;
    margin: 0 auto 10px auto;
}
.team .team_box .profile .info .team_icon{
    margin: 10px 5px 5px 0;
    cursor: pointer;
    transition: 0.3s;
}
.team .team_box .profile .info .team_icon i:hover{
color: #ff4800;
}
/*order*/
.order img{
width: 600px;
}
.order form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 10px;
}
.order  form .input p{
  line-height: 25px;
}
.order  form .input{
    margin: 5px;
    margin-left: 10px;
}
.order form .input input{
    width: 300px;
    height: 35px;
    padding: 0 10px;
    border: 2px solid #cccc;
    background-color: #eee;
    outline: none;
    border-radius: 3px;
}
.order form .input input:focus{
    border: 2px solid #ff4800;
}
.order  form .btn_order{
    padding: 10px 20px;
    background-color:#ff4800;
    color: white;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    width: 200px;
    margin-top: 30px;
    margin-left: 13px;

}
.order form .btn_order:hover{
    color: black;
    border: 2px solid #ff4800;
    padding: 10px 20px;
}
/*footer */
footer{
    width: 100%;
    padding: 30px 0 0 20px;
    background-color:#d3d3d3;
}
footer .footer_main{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
footer .footer_main .footer_tag{
    text-align: center;
}

footer .footer_main .footer_tag h2{
    color:#000000;
    margin-bottom: 25px;
    font-size: 30px;

}
footer .footer_main .footer_tag p{
    margin: 10px 0;
    color: rgb(0, 0, 0);
}
footer .footer_main .footer_tag i{
    margin: 0 5px;
    cursor: pointer;
    color: rgb(0, 0, 0);
}
footer .end{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: rgb(0, 0, 0);
}
footer .end span{
    color: #000000;
    margin-left: 10px;
}








